/* Font Families  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables  */
:root {
  --background-color: #222831;
  --others: #393e46;
  --secondary-font-color: #00adb5;
  --primary-font-color: #eeeeee;
}

/* Common styles */
body {
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif; /* Apply Poppins font to body */
    color: var(--primary-font-color); /* Set default font color */
    margin: 0;
}

/* Header section */
/* Navbar section  */
.navbar ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;  /* Align navbar items to the right */
  list-style-type: none;
  margin-top: 20px;
  padding-left: 0;  /* Remove default padding */
}

.navbar ul li.items a {
  color: var(--primary-font-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
  transition: color 0.3s ease;  /* Smooth hover effect */
}

.navbar ul li.items {
  margin: 0 18px;
}

.navbar ul li.items a:hover {
  color: var(--secondary-font-color);  /* Hover effect */
}

/* Main section  */
.main {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
}

/* Left section  */
.left-section {
    width: 814px;
    padding: 20px;
    color: #fff; /* Text color in left section */
}
.name{
    font-family: Poppins;
    font-weight: bold;
    font-size: 76px;
    line-height: 86px;
}
.left-section .brand{
    margin-left: 60px;
}
.left-section .first{
    color: var(--primary-font-color);
}
.left-section .second {
    color: var(--secondary-font-color);
}
.left-section .img{
    width: 90px;
    position: relative;
    bottom: 125px;
}
.left-section .button{
    padding: 32px 10px;
}
/* Left section  */

/* Right section  */
.right-section {
    width: 626px;
    background-color: #eeeeee;
    padding: 20px;
    color: #333; /* Text color in right section */
}


